.flexContainer {
    border-radius: 5px;
    padding: 15px;
    max-width: 200px;
    min-height: 200px;
    background-color: #7c908a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsContainer {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 15px;
}

.editDeleteContainer {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.itemName {
    font-size: 16pt;
    margin:0;
}

.itemAmount {
    padding: 5px;
    margin:0;
}

.userThatAdded {
    padding: 5px;
    margin:0;
}
.itemButton {
    margin: 5px;
}

.itemButton:hover {
    color: #566460;
}

#editLink {
    color: white;
}

#editLink:hover {
    color: #566460;
}

.grid-cell {
    border-radius: 3px;
}
